<%= link_to root_path do %>
  <i class="fa-solid fa-arrow-left"></i>
<% end %>

<h1><%= @group.name %></h1>

<%# if current user has that group then show another message  %>

<%= simple_form_for [@group, @membership] do |f| %>
  <%= f.button :submit %>
<% end %>

<% @group.posts.each do |post| %>
<div class="border mb-4">
  <%= cl_image_tag post.membership.user.photo.key, height: 50, width: 50, crop: :fill, style: "object-fit: fill;"%>
  <%= post.membership.user.username %>
  <p><%= post.title %></p>
  <p><%= post.content %></p>
  <p><%= link_to "Delete post", post_path(post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-dark text-decoration-none" %></p>

</div>
<% end %>

<%= link_to new_group_post_path(@group) do%>
  <i class="fa-solid fa-circle-plus"></i>
<% end %>
