<h1><%= @group.name %></h1>
<% @posts.each do |post| %>
<div class="border mb-4">
  <%= cl_image_tag post.membership.user.photo.key, height: 50, width: 50, crop: :fill, style: "object-fit: fill;"%>
  <%= post.membership.user.username %>
  <p><%= post.title %></p>
  <p><%= post.content %></p>
</div>
<% end %>
