<div class="g_show">
  <div class="g-show-title">
    <%= link_to root_path do %>
      <i class="fa-solid fa-arrow-left fa-lg text-dark"></i>
    <% end %>
      <h1 class="g-show-name"><%= @group.name %></h1>

      <% groupsid = @user.groups.map do |group| %>
        <% group.id %>
      <% end %>

      <% if !groupsid.include?(@group.id) %>
        <%= simple_form_for [@group, @membership] do |f| %>
          <button class="btn btn-link btn-sm b-create-memb" type="submit"><i class="fa-solid fa-user-plus"></i></button>
        <% end %>
      <% end %>

      <% if groupsid.include?(@group.id) %>
        <button type="button" class="btn btn-dark btn-sm b-leave-gr"><%= link_to membership_path(@membership), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-light text-decoration-none" do %>
          <i class="fa-solid fa-user-minus"></i></button>
        <% end %>
      <% end %>
  </div>

  <% @group.posts.reverse.each do |post| %>
    <div class="g-post-all mb-3">
      <%= link_to user_path(post.membership.user) do %>
        <div class="group-post-head">
          <% if post.membership.user.photo.key.present? %>
            <%= cl_image_tag post.membership.user.photo.key, height: 50, width: 50, crop: :fill, style: "object-fit: fill;"%>
          <% end %>
          <%= post.membership.user.username %>
        </div>
      <% end %>
      <div class="group-post-cont">
        
        <%= @markdown.render(post.title).html_safe %>
        <%= @markdown.render(post.content).html_safe %>

        <% if post.photo.attached? %>
          <%= cl_image_tag post.photo.key, height: 200, crop: :fill%>
        <% end %>
        <div class="g-post-del">
          <% if policy(post).destroy? %>
            <%= link_to post_path(post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-dark text-decoration-none d-post" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          <% end %>
          <div class="show-message">
            <% if groupsid.include?(@group.id) %>
              <%= link_to group_post_path(@group, post) do %>
                <i class="fa-solid fa-message"></i>
              <% end %>
            <% end %>
          </div>
            <% if groupsid.include?(@group.id) %>
              <%= render partial: 'hearts/heart', locals: { post: post, user_liked: post.liked?(current_user), user: current_user } %>
            <% else %>
              <div class="likes">
                <i class="fa-solid fa-thumbs-up"></i>
                <p><%= post.hearts.count %></p>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  <% end %>





  <% groupsid = @user.groups.map do |group| %>
    <% group.id %>
  <% end %>
    <% if groupsid.include?(@group.id) %>
      <!-- Button trigger modal -->
      <div class="btn-pluscir" data-bs-toggle="modal" data-bs-target="#homeModal">
        <i class="fa-solid fa-circle-plus"></i>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="homeModal" tabindex="-1" aria-labelledby="homeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="homeModalLabel">New post</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body b-home-body">
                <%= simple_form_for [@group, @post], html: { autocomplete: 'off' } do |f| %>
              <%= f.input :title %>
              <%= f.input :content %>
              <%= f.input :photo, as: :file %>
              <div class="btn-cp">
                <button type="button" class="btn btn-link btn-np"><%= f.button :submit %></button>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
