<div class="home_body">
  <div class="home_profile_body">
    <h1>@<%= @user.username %></h1>
    <div class="d-flex">
      <div class="photo_bio">
        <% if @user.photo.key.present? %>
          <%= cl_image_tag @user.photo.key, height: 100, width: 100, crop: :fill, style: "object-fit: fill; border-radius: 50%;"%>
        <% end %>
          <p class="user_bio"><%= @user.bio %></p>
      </div>
    </div>
  </div>
  <div class="button_groups">
    <% @groups.each do |group| %>
      <%= link_to group_path(group) do%>
        <button type="button" class="btn btn-link rounded"><%= group.name %></button>
      <% end %>
    <% end %>
  </div>

  <h2>My Projects</h2>
    <% @user.projects.each do |project| %>
      <%= link_to project_path(project) do %>
        <div class="project_box">
          <div class="project_title_box">
            <p class="project_title"><%= project.title %></p>
          </div>
            <p class="project_descr"><%= project.description %></p>
        </div>
      <% end %>
    <% end %>

  <% if current_user.id == @user.id %>
    <!-- Button trigger modal -->
    <div class="btn-pluscir" data-bs-toggle="modal" data-bs-target="#homeModal">
      <i class="fa-solid fa-circle-plus"></i>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="homeModal" tabindex="-1" aria-labelledby="homeModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="homeModalLabel">Choose one:</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <button class="b-home-pop"><%= link_to "Sports groups", groups_path %></button>
            <button class="b-home-pop"><%= link_to "Add a project", new_project_path %></button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
