<div class="home_body">
  <div class="home_profile_body">
    <h1>@<%= @user.username %></h1>
    <div class="d-flex">
      <div class="photo_bio">
        <% if @user.photo.key.present? %>
          <%= cl_image_tag @user.photo.key, height: 100, width: 100, crop: :fill, style: "object-fit: fill; border-radius: 50%;"%>
        <% end %>
          <p class="user_bio"><%= @user.bio %></p>
      </div>
    </div>
  </div>
  <div class="button_groups">
    <% @groups.each do |group| %>
      <%= link_to group_path(group) do%>
        <button type="button" class="btn btn-link rounded"><%= group.name %></button>
      <% end %>
    <% end %>
  </div>

  <h2>My Projects</h2>
    <% @user.projects.each do |project| %>
      <%= link_to project_path(project) do %>
        <div class="project_box">
          <div class="project_title_box">
            <p class="project_title"><%= project.title %></p>
          </div>
            <p class="project_description"><%= project.description %></p>
        </div>
      <% end %>
    <% end %>

  <div class="add_button_home">
  <i class="fa-solid fa-circle-plus" data-toggle="modal" data-target="#exampleModal"></i>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content-home">
          <div class="modal-header-home">
            <h5 class="modal-title-home" id="exampleModalLabel">What do you want to do?</h5>
            <%# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> %>
          </div>
          <div class="modal-body">
            <button class="b-home-pop"><%= link_to "Sports groups", groups_path %></button>
            <button class="b-home-pop"><%= link_to "Add a project", new_project_path %></button>
          </div>
          <%# <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> %>
        </div>
      </div>
    </div>
  </div>
</div>
