<div class="home_body">
  <div class="home_profile_body">
    <h1 class="text-dark hpb-name">@<%= @user.username %></h1>
    <div class="d-flex">
      <div class="photo_bio">
        <% if @user.photo.key.present? %>
          <%= cl_image_tag @user.photo.key, height: 100, width: 100, crop: :fill, style: "object-fit: fill; border-radius: 50%;"%>
        <% end %>
          <p class="user_bio"><%= @user.bio %></p>
      </div>
    </div>
  </div>
  <div class="button_groups">
    <% @groups.each do |group| %>
      <%= link_to group_path(group) do%>
        <button type="button" class="btn btn-link"><%= group.name %></button>
      <% end %>
    <% end %>
  </div>

  <h2>My Projects</h2>
    <% @projects.each do |project| %>
      <%= link_to project_path(project) do %>
        <div class="project_box">
          <div class="project_title_box">
            <p class="ptb_title"><%= project.title %></p>
            <div class="ptb-trophy-like">
              <% if project.done? %>
                <i class="fa-sharp fa-solid fa-trophy"></i>
              <% end %>
              <button type="button" class="btn btn-link text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa-solid fa-share-nodes"></i>
              </button>
            </div>
          </div>
            <p class="project_descr"><%= project.description %></p>
        </div>
      <% end %>

      <!-- Button trigger modal -->

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Share project</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <h2>Share your project</h2>
            <%= simple_form_for [@post] do |f| %>
              <%= f.input :group, collection: @user.groups, as: :radio_buttons, label: "Select group"%>
              <%= f.input :title, input_html: { value: project.title } %>
              <%= f.input :content, input_html: { value: project.description } %>
              <div class="btn-cp">
                <button type="button" class="btn btn-link btn-np"><%= f.button :submit %></button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

  <!-- Button trigger modal -->
  <div class="btn-pluscir" data-bs-toggle="modal" data-bs-target="#homeModal">
    <i class="fa-solid fa-circle-plus"></i>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="homeModal" tabindex="-1" aria-labelledby="homeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="homeModalLabel">Choose one:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body b-home-body">
          <button class="b-home-pop"><%= link_to "Browse sports groups", groups_path %></button>
          <button class="b-home-pop"><%= link_to "Add a project", new_project_path %></button>
        </div>
      </div>
    </div>
  </div>

</div>
