<div class="home_body">
  <div class="home_profile_body">
    <div class="d-flex">
      <div class="photo_bio">
        <% if @user.photo.key.present? %>
          <%= cl_image_tag @user.photo.key, height: 100, width: 100, crop: :fill, style: "object-fit: fill;border-radius: 50%;"%>
        <% end %>
          <div class="hpb-cont">
            <h1 class="text-dark hpb-name">@<%= @user.username %></h1>
            <p class="user_bio"><%= @user.bio %></p>
          </div>
      </div>
    </div>
  </div>
  <div class="button_groups">
    <% @groups.each do |group| %>
      <%= link_to group_path(group) do%>
        <button type="button" class="btn btn-link button-grad"><%= group.name %></button>
      <% end %>
    <% end %>
  </div>

  <h2>My Projects</h2>
    <% @projects.each do |project| %>
        <div class="project_box" data-controller="progressbar" data-progressbar-percentage-value="<%= project.done_percentage %>">
          <div class="project_title_box">
            <%= link_to project_path(project) do %>
              <p class="text-white m-2"><%= project.title %></p>
            <% end %>
            <div class="ptb-trophy-like">
              <% if project.done? %>
                <i data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Congrats for completing your project!" class="fa-sharp fa-solid fa-trophy"></i>
              <% end %>
              <button type="button" class="btn btn-link text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa-solid fa-share-nodes"></i>
              </button>
            </div>
          </div>
          <div data-progressbar-target="progressbar"></div>
          <%= link_to project_path(project) do %>
            <p class="project_descr"><%= project.description %></p>
          <% end %>
        </div>

      <!-- Button trigger modal (inside project_title_box)-->

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content p-3">
            <div class="sp-box">
              <h2 class="modal-title pb-2" style="text-align: center;">Share your project</h2>
              <%= simple_form_for [project, @post] do |f| %>
              <div class="sp-group">
                <%= f.input :group, collection: @user.groups, as: :radio_buttons, label: "Select group"%>
              </div>
                <%= f.input :title, input_html: { value: 'Check out my project' } %>
                <%= f.input :content %>
                <div class="btn-cp">
                  <button type="button" class="btn btn-link btn-np"><%= f.button :submit %></button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  <!-- Button trigger modal -->
  <div class="btn-pluscir" data-bs-toggle="modal" data-bs-target="#homeModal">
    <i class="fa-solid fa-circle-plus"></i>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="homeModal" tabindex="-1" aria-labelledby="homeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body b-home-body">
          <h3 class="modal-title mb-4" id="homeModalLabel">Choose one:</h3>
          <button class="bh-pop"><%= link_to "Browse sports groups", groups_path %></button>
          <button class="b-home-pop"><%= link_to "Add a project", new_project_path %></button>
        </div>
      </div>
    </div>
  </div>

</div>
