<div class="project-new">
  <div class="project-new-main">
      <%= link_to root_path do %>
        <i class="fa-solid fa-arrow-left fa-lg text-dark"></i>
      <% end %>
    <h1 class="pn_title" style="text-align: center;" >Add A Project</h1>
  </div>
  <div class="project-new-body">
    <%= simple_form_for (@project), html: { autocomplete: 'off' }  do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
      <div class="button-new">
        <button type="button" class="btn btn-link btn-np"><%= f.button :submit, value: "Create" %></button>
      </div>
    <% end %>
  </div>

</div>
