<div class="project_show">
  <div class="project-show-main">
    <% if @project.user == current_user %>
      <%= link_to root_path do %>
        <i class="fa-solid fa-arrow-left fa-lg text-dark"></i>
      <% end %>
    <% else %>
      <%= link_to user_path(@project.user) do %>
        <i class="fa-solid fa-arrow-left fa-lg text-dark"></i>
      <% end %>
    <% end %>
  </div>
  <div class="project-show-desc">
    <h1 class="project-show-title"><%= @project.title %></h1>
    <p><%= @project.description %></p>
    <div class="ps-icon">
      <% if current_user.id == @project.user_id %>
        <p class="p-show-desc-del p-2"><%= link_to project_path(@project), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-black p-show-desc-del p-2" do %>
          <i class="fa-solid fa-trash"></i>
        <% end %></p>
      <% end %>

      <!-- MODAL EDIT -->
      <!-- Button trigger modal -->
      <% if current_user.id == @project.user_id %>
        <button type="button" class="btn btn-link text-dark" data-toggle="modal" data-target="#editProject">
          <i class="fa-solid fa-pen"></i>
        </button>
      <% end %>
    </div>
  </div>

<%# timeline %>
  <%# <div class="timeline"> %>
    <% @project.goals.each do |goal| %>

      <div class="timeline__event">

        <div class="timeline__event__icon" data-controller="goal" data-goal-update-url-value="<%= goal_path(goal) %>">
          <input class="checkbox_icon" type="checkbox" data-action="click->goal#toggle" data-goal-target="status"
          <%= goal.status ? "checked" : "" %>/>
          <% if goal.status == "checked" %>
            <i class="fa-solid fa-check"></i>
          <% end %>
        </div>

        <div class="horizontal_line"></div>

        <div class="timeline__event__date">
          <p class="p-show-end-date"><%= goal.end_date.strftime("%d/%m/%Y") %></p>
        </div>

        <%= link_to project_goal_path(@project, goal)	do %>
          <div class="timeline__event__content">
            <div class="timeline__event__title">
              <%= goal.title %></p>
            </div>
            <div class="timeline__event__description">
              <%= goal.description %></p>
            </div>
            <p class="p-show-goal-del" style="color: white;"><%= link_to goal_path(goal), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-white text-decoration-none" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %></p>
          </div>
        <% end %>

      </div>
    <% end %>
  <%# </div> %>


  <!--MODAL CREATE to add a goal -->
  <!-- Button trigger modal -->
  <% if current_user.id == @project.user_id %>
    <div class="btn-pluscir" data-toggle="modal" data-target="#exampleModalLong">
      <i class="fa-solid fa-circle-plus"></i>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content pt-3">
          <div class="modal-body-create-g" data-controller='flatpickr'>
          <h3 class="modal-title pb-2" style="text-align: center;" id="exampleModalLongTitle">Create Goal</h3>
            <%= simple_form_for([@project, @goal]) do |f| %>
              <%# <%= f.label :title, "Title" %>
              <%= f.input :title %>
              <%= f.input :description %>
              <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
              <button type="button" class="btn btn-link b-c-goal"><%= f.button :submit, value: "Create" %></button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- MODAL EDIT (button at the top)-->
    <!-- Modal -->
    <% if current_user.id == @project.user_id %>
      <div class="modal fade" id="editProject" tabindex="-1" role="dialog" aria-labelledby="editProjectTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body-edit-p">
            <h3 class="modal-title pb-2" style="text-align: center;" id="editProjectTitle">Edit Project</h3>
              <%= simple_form_for([@project]) do |f| %>
                <div class="form-edit-project" style="width:310px;">
                  <%# <%= f.label :title, "Title" %>
                  <%= f.input :title, placeholder: @project.title %>
                </div>
                <div class="form-edit-project" style="width:310px;">
                  <%# <%= f.label :description, "Description" %>
                  <%= f.input :description, placeholder: @project.description %>
                </div>
                <div class="button-new">
                  <button type="button" class="btn btn-link b-c-goal"><%= f.button :submit, name: "subaction", value: "Update" %></button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
