<div class="new-post-b">
    <%= link_to group_path(@group) do =%>
      <i class="fa-solid fa-arrow-left fa-lg back-arrow"></i>
    <% end %>

  <div class="container-np">
    <div class="post">
      <div class="col-12 col-md-12 offset-lg-3">
        <div class="np-form">
          <h2>New Post</h2>
          <%= simple_form_for [@group, @post] do |f| %>
            <%= f.input :title %>
            <%= f.input :content %>
            <%= f.input :photo, as: :file %>
            <div class="btn-cp">
              <button type="button" class="btn btn-link btn-np"><%= f.button :submit %></button>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
