<%= link_to goal_path(@group) do =%>
  <i class="fa-solid fa-arrow-left fa-1xl m-4" style="color:blue"></i>
<% end %>

<div class="container py-5">
  <div class="post">
    <div class="col-12 col-md-12 offset-lg-3">
      <div class="bg-gray rounded p-3 shadow">
        <h2>New Post</h2>
          <%= simple_form_for [@group, @post] do |f| %>
                <%= f.input :title %>
                <%= f.input :description %>
                <%= f.input :photo, as: :file %>
                <%= f.button :submit %>
           <% end %>
      </div>
    </div>
  </div>
<div>
