<%= link_to group_path(@group) do %>
  <i class="fa-solid fa-arrow-left"></i>
<% end %>

<h1>this is post show page</h1>
<%= @post.title %>
<%= @post.content %>
<% @post.comments.reverse.each do |comment| %>
  <div class="border mb-3">
    <%= cl_image_tag comment.membership.user.photo.key, height: 50, width: 50, crop: :fill, style: "object-fit: fill;"%>
    <%= comment.membership.user.username %>
    <p><%= comment.content %></p>
  </div>
<% end %>

<%= simple_form_for([@post, @comment]) do |f| %>
  <%= f.input :content %>
  <%= f.submit value: "Create", class: 'btn btn-warning' %>
<% end %>

<%#= link_to "add comment", new_post_comment_path(@post, @comment)	%>
