<div class="po_show">
  <div class="po_show_main">
    <div class="po_show_title-arrow">
      <%= link_to group_path(@group) do %>
        <i class="fa-solid fa-arrow-left fa-lg"></i>
      <% end %>

      <h1 class="po-show-title"><%= @post.title %></h1>
    </div>
    <div class="po-show-content">
      <div class="po-show-member">
        <%= cl_image_tag @post.membership.user.photo.key, height: 50, width: 50, crop: :fill, style: "object-fit: fill;"%>
        <%= @post.membership.user.username %>
      </div>
      <p class="po-sh-content-member"><%= @post.content %></p>
    </div>
  </div>
  <div class="po-show-comment">
    <% @post.comments.reverse.each do |comment| %>
      <div class="border mb-3 po-sh-comment-member">
        <%= cl_image_tag comment.membership.user.photo.key, height: 50, width: 50, crop: :fill, style: "object-fit: fill;"%>
        <div class="po-con-fit">
          <%= comment.membership.user.username %>
          <p class="text-dark"><%= comment.content %></p>
        </div>
        <% if policy(comment).destroy? %>
          <%= link_to comment_path(comment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-dark text-decoration-none" do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

    <%= simple_form_for([@post, @comment]) do |f| %>
      <%= f.input :content, as: :text%>
      <%= f.submit value: "Create", class: 'btn btn-warning' %>
    <% end %>
</div>
