<%= link_to group_path(@group) do %>
  <i class="fa-solid fa-arrow-left"></i>
<% end %>

<h1>Post title:<%= @post.title %></h1>
<%= cl_image_tag @post.membership.user.photo.key, height: 50, width: 50, crop: :fill, style: "object-fit: fill;"%>
<%= @post.membership.user.username %>
<p><%= @post.content %></p>
<% if @post.photo.key.present? %>
  <%= cl_image_tag @post.photo.key, height: 50, width: 50, crop: :fill%>
<% end %>
<% @post.comments.reverse.each do |comment| %>
  <div class="border mb-3">
    <%= cl_image_tag comment.membership.user.photo.key, height: 50, width: 50, crop: :fill, style: "object-fit: fill;"%>
    <%= comment.membership.user.username %>
    <p><%= comment.content %></p>
    <% if policy(comment).destroy? %>
      <%= link_to "Delete comment", comment_path(comment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-light text-decoration-none" %>
    <% end %>
  </div>
<% end %>


<% groupsid = @user.groups.map do |group| %>
  <% group.id %>
<% end %>
<% if groupsid.include?(@group.id) %>

  <% if policy(@comment).create? %>
    <%= simple_form_for([@post, @comment]) do |f| %>
      <%= f.input :content, as: :text%>
      <%= f.submit value: "Create", class: 'btn btn-warning' %>
    <% end %>
  <% end %>

<% end %>
