<h1>Goal#new</h1>

<%= simple_form_for (@goal) do |f| %>
    <div class="form-group-goal" style="width:400px;">
       <%= f.input :title %>
    </div>
    <div class="form-group-goal" style="width:400px">
      <%= f.input :description %>
    </div>
    <div class="form-group-goal" style="width:400px">
      <%= f.input :end_date, as: :date %>
    </div>
    <div class="button-new">
       <button type="button" class="btn btn-warning"><%= f.button :submit, value: "Create" %></button>
    </div>
  <% end %>
