<div class="goal_sh">
  <div class="goal_sh_title">
    <%= link_to project_path(@project) do %>
      <i class="fa-solid fa-arrow-left fa-lg text-dark"></i>
    <% end %>
  </div>
  <div class="goal-sh-desc" id="description">
    <h1 class="goal-sh-title"><%= @goal.title %></h1>
    <p class='text'><%= @goal.description %></p>
  </div>
  <% @goal.logs.reverse.each do |log| %>
    <div id="status" class="gsh-dlog">
      <p class='gsh-text'><%= log.created_at.strftime("%d/%m/%Y") %></p>
      <%# <p class='text'><%= @goal.end_date %#></p>
      <p class='text'><%= @goal.status %#></p> %>
      <button type="button" class="btn btn-link text-white" data-toggle="modal" data-target="#exampleModalLong">
        <i class="fa-solid fa-share-nodes"></i>
      </button>
    </div>
    <div class="gsh-content" id="content">
      <p class='text'><%= log.content %></p>
      <% if log.photo.key.present? %>
        <p class="gsh-content-image"><%= cl_image_tag log.photo.key, height: 200, crop: :fill %></p>
      <% end %>
      <% if policy(log).destroy? %>
        <div class = "link">
          <p class="gsh-cont-del"><%= link_to log_path(log), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="fa-solid fa-trash"></i>
          <% end %></p>
        </div>
      <% end %>


      <!-- Button trigger modal (inside class="gsh-dlog") -->
      <!-- Modal -->
      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content p-3">
            <div class="sp-box">
              <div class="modal-body">
              <h3 class="modal-title pb-2" id="sharealogTitle">Share your log</h3>
                <%= simple_form_for [log, @post] do |f| %>
                  <div class="sp-group">
                    <%= f.input :group, collection: log.goal.project.user.groups, as: :radio_buttons, label: "Select group" %>
                  </div>
                  <%#= f.input :title, input_html: { value: @project.title }%>
                  <%= f.input :content, input_html: { value: log.content } %>
                  <div class="btn-cp">
                    <button type="button" class="btn btn-link btn-np"><%= f.button :submit %></button>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
    <% end %>
  </div>
</div>
  <!-- Button trigger modal -->
  <div class="btn-pluscir" data-toggle="modal" data-target="#addalog">
    <i class="fa-solid fa-circle-plus"></i>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="addalog" tabindex="-1" role="dialog" aria-labelledby="addalogTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body-create-g">
        <h3 class="modal-title pb-2" style="text-align: center;" id="addalogTitle">Add A Log</h3>
          <%= simple_form_for([@goal, @log])  do |f| %>
            <div class="form-group-goal" style="width:310px;">
              <%= f.input :content, label: "Comment", placeholder: "Write your log ..." %>
              <%= f.input :photo, as: :file %>
            </div>
            <div class="button-new">
              <button type="button" class="btn btn-link b-c-goal"><%= f.button :submit, value: "Create" %></button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
